.main-bfp {
    display: flex;
    height: 100%;
    width: 100%;
}

.grd {
    flex-direction: column;
    padding: 10px;
    width: 50%;
    height: 100%;
}

.savings-bfp {
    padding-bottom: 20px;
}

.side-cl{
    flex-direction: column;
    padding: 10px;
    width: 50%;
    height: 100%;
}

