/* grid c7 */
.grid-c7{
  min-height: 240px;
}
.grid-c7-content {
  margin-top: -42px;
  margin-bottom: -110px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.grid-c7-content .data-list {
  margin-left: -20px;
}

.grid-c7-content .data-item {
  margin-bottom: 20px;
}

.grid-c7-content .data-item-value {
  margin-top: 8px;
  display: block;
  font-weight: 600;
}

.pie-chart {
  position: relative;
  width: 200px !important;
  height: 200px;
  margin-right: 70px;
  margin-top: 20px;
}

.pie-chart-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  font-size: 12px;
  font-weight: bold;
  color: white;
}


.grid-c7-content-override {
  display: flex;
  max-height: 300px;
}