/* grid c1 */
.grid-c1 {
  display: flex;
  flex-direction: column;
}
.grid-c1-content {
  background: linear-gradient(
      114.07deg,
      rgba(66, 59, 55, 0.6) 3.49%,
      rgba(66, 59, 55, 0) 34.7%
    ),
    linear-gradient(138.58deg, rgba(59, 43, 30, 0.37) 43.56%, #fea767 112.68%);
  flex: 1;
  border-radius: 10px;
  padding: 16px;
}

@media screen and (max-width: 768px) {
  .grid-c1 {
    grid-column-start: 1;
    grid-column-end: 3;
  }
}

.chart {
  display: flex;
  flex-direction: row;
  /* align-items: space-between; */
  justify-content: space-evenly;
}

.chart-data {
  padding-right: 20px!important;
  width: 100% !important;
}

/* .chart-sep {
  padding-left: 30px; */
/* } */

.infoText {
  font-size: 14px;
  font-weight: 500;
  color: whitesmoke;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}
